@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>
<p>Hieronder onze contact informatie:</p>
<div id="hcard-Luuk-Sommers" class="vcard">
    <div class="org" style="font-size:1.1em; font-weight:bolder;">Wonen in zwaluwpark</div>
    <div class="fn">Luuk & Marion</div>
    <a class="email" href="mailto:luuk@woneninzwaluwpark.nl">luuk@woneninzwaluwpark.nl</a>
    <div class="adr">
        <span class="street-address">Spoorwegstraat 19-2</span><br />
        <span class="postal-code">6828AM</span> <span class="locality">Arnhem</span><br />
        <span class="country-name">Nederland</span>
    </div>
    <p style="font-size: smaller;">This content uses <a rel="profile" href="http://microformats.org/profile/hcard">hCard</a>.</p>
</div>